# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.env

# Build artifacts
build/
dist/
*.egg-info/



# Data outputs
outputs/*.json
outputs/*.csv
outputs/*.parquet
outputs/*.pkl

# OS/editor
.DS_Store
Thumbs.db
.vscode/*.code-workspace
